<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <title>Ph-equip</title>
</head>

<body>
    &nbsp;
    <div class="container">
        <div class="card">
            <div class="card-header" style="text-align: center;">Equiptemt</div>
            <div class="card-body">
                <ul>
                    <li>{{.ID}}</li>
                    <li>{{.User}}</li>
                    <li>{{.Name}}</li>
                </ul>
            </div>
        </div>
        &nbsp;
        <div style="text-align: center;">
            <button class="btn btn-primary" type="submit">Report</button>
        </div>
    </div>

</body>

</html>
